---
years: [2021, 2020, 2019, 2018, 2017]
---

<div class="row">
  <div id="{{entry.key}}" class="col-sm-9">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
    <div class="title"><a href="{{entry.url}}">{{entry.title}}</a></div>
      <div class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.first == "Deevashwer" %}
              <u>{{author.first}}&nbsp;{{author.last}}</u>
            {% else %}
              {{author.first}}&nbsp;{{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.first == "Deevashwer" %}
                <u>{{author.first}}&nbsp;{{author.last}}</u>,
              {% else %}
                {{author.first}}&nbsp;{{author.last}},
              {% endif %}
            {% else %}
              {% if author.first == "Deevashwer" %}
                and <u>{{author.first}}&nbsp;{{author.last}}</u>
              {% else %}
                and {{author.first}}&nbsp;{{author.last}}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <b>{{entry.journal}}</b>
      {% elsif entry.type == "inproceedings" %}
        <b>{{entry.booktitle}}</b>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
    {% endif %}

    <div class="links">
    {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
    {% endif %}
    {% if entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button" target="_blank">arXiv</a>
    {% endif %}
    {% if entry.html %}
      <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Code</a>
    {% endif %}
    {% if entry.website %}
      <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Website</a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>
